{{- $text := .Get "text" | default (.Get 0) -}}
{{- $link := .Get "link" | default (.Get 1) -}}

{{- $fingerprint := md5 (print $link $text (index (seq 999 | shuffle) 0)) | truncate 8 "" -}}

{{ if $link }}
    <a href="" class="cloak" id="cloak-{{ $fingerprint }}"></a>
    <script>
        document.getElementById('cloak-{{ $fingerprint }}').href = atob('{{ $link | base64Encode }}');
        document.getElementById('cloak-{{ $fingerprint }}').innerHTML = atob('{{ $text | base64Encode }}');
    </script>
{{ else }}
    <span class="cloak" id="cloak-{{ $fingerprint }}"></span>
    <script>
        document.getElementById('cloak-{{ $fingerprint }}').innerHTML = atob('{{ $text | base64Encode }}');
    </script>
{{ end }}
