{{- $lat := .Get "lat" | default (.Get 0) | float -}}
{{- $lon := .Get "lon" | default (.Get 1) | float -}}
<iframe width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
src="https://www.openstreetmap.org/export/embed.html?bbox={{ $lon | add -0.005}},{{ $lat | add -0.005 }},{{ $lon | add 0.005}},{{ $lat | add 0.005 }}&layer=mapnik&marker={{ $lat }},{{ $lon}}" 
style="border: 1px solid black"></iframe>
<br/>
<small>
  <a href="https://www.openstreetmap.org/?mlat={{ $lat }}&mlon={{ $lon }}#map=17/{{ $lat }}/{{ $lon }}">
    Größere Karte anzeigen
  </a>
</small>
{{/*  longitude: {{ $lon }}
latitude: {{ $lat }}  */}}